Source: fsoft-client
Section: admin
Priority: optional
Maintainer: FSOFT <support@fsoft.com.vn>
Build-Depends: debhelper (>= 7), po-debconf
Standards-Version: 3.9.2
Homepage: https://fpt-software.com

Package: fsoft-client
Section: admin
Priority: optional
Architecture: all
Depends: python3-certifi, python3-cryptography, python3-psutil, python3-pyqt6 | python3-pyqt5, python3 (>=3.8), freerdp3-x11 | freerdp2-x11 | freerdp-x11 | freerdp-nightly, desktop-file-utils, ${misc:Depends}
Description: Client connector for FSOFT Virtual Desktop
 This package provides the required components to allow this machine to connect to services provided by FSOFT Virtual Desktop.
