global_defs {
    router_id UDS_{{ inventory_hostname }}
    script_user root
    enable_script_security
}

vrrp_script check_haproxy {
    script "/usr/local/bin/check_haproxy.sh"
    interval 2
    weight 15
    fall 3
    rise 5
}

vrrp_instance UDS_VIP {
    state {{ keepalived_state }}
    interface {{ keepalived_interface }}
    virtual_router_id {{ keepalived_vrid }}
    priority {{ keepalived_priority }}
    advert_int 1

    authentication {
        auth_type PASS
        auth_pass {{ keepalived_auth_pass }}
    }

    virtual_ipaddress {
        {{ keepalived_vip }}/{{ keepalived_vip_cidr | default('24') }}
    }

    track_script {
        check_haproxy
    }
}
