[Desktop Entry]
Name=FSOFT Virtual Desktop Client
Comment=FSOFT Virtual Desktop Helper
Keywords=fsoft;client;vdi;
Exec=/usr/lib/UDSClient/UDSClient.py %u -platform xcb
Icon=fsoft-client
StartupNotify=true
Terminal=false
Type=Application
Categories=Utility;
MimeType=x-scheme-handler/uds;x-scheme-handler/udss;
