# Database
DATABASE=mysql
DB_ENGINE=django.db.backends.mysql
DB_NAME={{ db_name }}
DB_USER={{ db_user }}
DB_PASSWORD={{ db_password }}
DB_HOST=127.0.0.1
DB_PORT={{ db_port }}

# Django
SECRET_KEY={{ django_secret_key }}
DEBUG={{ django_debug }}
ALLOWED_HOSTS={{ django_allowed_hosts }}
DJANGO_SETTINGS_MODULE={{ django_settings_module }}
PYTHONPATH={{ src_dir }}
